@import "tailwindcss";

@theme {
  --color-primary: #059669;
  --color-secondary: #14b8a6;
  --font-cooper: 'Cooper BT', serif;
  --animate-float: float 3s ease-in-out infinite;
  
  @keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-8px); }
    100% { transform: translateY(0px); }
  }
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 font-sans;
  }
}